<span class="heading">
  <a href="{{senderProfile}}">{{senderName}}</a> has sent you a new messsage:
</span>
<br><br>

<div class="post-body">
  {{{htmlBody}}}
</div>
<br>



<a href="{{senderProfile}}">Check user's profile</a> or reply by email to: {{senderEmail}}<br><br>
